<%= form_for(@post) do |f| %>
  <p>
    Root form object class: <%= f.object.class.name %><br/>
    Root form object comments class: <%= f.object.comments.first.class.name %><br/>
    Root form decorated object key: <%= f.object.wrapped_object.to_key %></br>
    Root form wrapped object key: <%= f.object.to_key %><br>
    Root form Dom ID: <%= dom_id f.object %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <%= f.fields_for :comments do |comment_fields| %>
    <p>
      Fields object class: <%= comment_fields.object.class.name %><br/>
      Fields decorated object key: <%= comment_fields.object.to_key %><br/>
      Fields wrapped object key: <%= comment_fields.object.wrapped_object.to_key %><br/>
      Fields DOM ID: <%= dom_id comment_fields.object %>
    </p>
    <p>
      <%= comment_fields.label :body %><br/>
      <%= comment_fields.text_area :body %>
    </p>
  <% end %>

  <p><%= f.submit %></p>
<% end %>
